//--color-text: #fff;
//--color-bg: #171717;
//--color-link: #ff0000;
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor_inner {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: white;
}
.cursor_outer {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}
